h1, h2, h3, h4, h5, h6, a, p, div  {
    font-family: "Open Sans";
}

h1 {}

body {
    /*background-color: rgba(83, 104, 120, 0.11);*/
}

.middleMenus {
    border-right: #ACD outset thin;
}

#searchBar {
    margin-right: 10%;
}

header {
    padding: 15px 0 10px 0;
    background-color: #eee;
}

.navbar-fixed-bottom {
    background-color: #eee;
    margin: 0;
    padding: 10px;
    width: 100%;
}

#shopName, #greeting {
    padding: 15px;
}

.productRow {
    padding: 10px;
}
